@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i5fddg');
  src:  url('fonts/icomoon.eot?i5fddg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i5fddg') format('truetype'),
    url('fonts/icomoon.woff?i5fddg') format('woff'),
    url('fonts/icomoon.svg?i5fddg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-doc:before {
  content: "\e902";
}
.icon-icon-3:before {
  content: "\e901";
}
.icon-icon-4:before {
  content: "\e900";
}
.icon-icon-1:before {
  content: "\e90b";
}
.icon-icon-2:before {
  content: "\e915";
}
.icon-map-marker:before {
  content: "\e916";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-volume-control-phone:before {
  content: "\f2a0";
}
